@font-face {
    font-family: 'TheSans';
    src: url('TheSans-ExtraBoldItalic.woff2') format('woff2'),
        url('TheSans-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TheSans';
    src: url('TheSans-BlackItalic.woff2') format('woff2'),
        url('TheSans-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TheSans';
    src: url('TheSans-UltraLightItalic.woff2') format('woff2'),
        url('TheSans-UltraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TheSans';
    src: url('TheSans-UltraLight.woff2') format('woff2'),
        url('TheSans-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TheSans';
    src: url('TheSans-Black.woff2') format('woff2'),
        url('TheSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TheSans SemiLight';
    src: url('TheSans-SemiLightItalic.woff2') format('woff2'),
        url('TheSans-SemiLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TheSans';
    src: url('TheSans-Bold.woff2') format('woff2'),
        url('TheSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TheSans';
    src: url('TheSans-ExtraLight.woff2') format('woff2'),
        url('TheSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TheSans';
    src: url('TheSans-Light.woff2') format('woff2'),
        url('TheSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TheSans';
    src: url('TheSans-ExtraBold.woff2') format('woff2'),
        url('TheSans-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TheSans';
    src: url('TheSans-PlainItalic.woff2') format('woff2'),
        url('TheSans-PlainItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TheSans';
    src: url('TheSans-BoldItalic.woff2') format('woff2'),
        url('TheSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TheSans';
    src: url('TheSans-SemiBold.woff2') format('woff2'),
        url('TheSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TheSans SemiLight';
    src: url('TheSans-SemiLight.woff2') format('woff2'),
        url('TheSans-SemiLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TheSans';
    src: url('TheSans-LightItalic.woff2') format('woff2'),
        url('TheSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TheSans';
    src: url('TheSans-ExtraLightItalic.woff2') format('woff2'),
        url('TheSans-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TheSans';
    src: url('TheSans-SemiBoldItalic.woff2') format('woff2'),
        url('TheSans-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TheSans';
    src: url('TheSans-Plain.woff2') format('woff2'),
        url('TheSans-Plain.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

