html {


	--colorAccentPrimary: rgb(255, 185, 0);
	--colorAccentPrimaryMuted: rgb(255, 230, 162);
	--colorAccentPrimaryDecent: rgb(233, 222, 195);
	
	--colorAccentSecondary: rgb(160, 99, 200);
	--colorAccentSecondaryMuted: rgb(216, 180, 240);
	--colorBackground: rgb(41, 39, 31); 
	
	/* --colorTextPrimary: rgb(229, 231, 235);
	--colorTextMuted: rgb(175, 179, 187);
	--colorTextMutedDark: rgb(99, 96, 96);
	--colorTextDark: rgb(0, 0, 0);
	--colorTextDarkMuted: rgb(43, 43, 43); */
	
	--colorTextPrimary: rgb(227, 218, 196);
	--colorTextMuted: rgb(184, 175, 150);
	--colorTextMutedDark: rgb(123, 115, 94);
	--colorTextDark: rgb(26, 23, 15);
	--colorTextDarkMuted: rgb(57, 51, 36);
	
	--colorScalePrimary: var(--colorAccentPrimary);
	--colorScaleSecondary: var(--colorAccentPrimaryDecent);
	
	background: var(--colorBackground);
}

html, body {
	top: 0;
	left: 0;
	margin: none;
	padding: none;
	font-weight: 400;
}

text, tspan, html {
	font-family: "TheMix", "system", "sans";
	/* color: var(--accentDarkRGB);
	color: var(--accentDark); */
	color: var(--colorTextPrimary);
	font-weight: 300;
}

@supports (color: color(display-p3 1 1 1)) {
	html {
		--colorAccentPrimary: color(display-p3 1 0.725 0);
		--colorAccentPrimaryDecent: color(display-p3 0.907 0.871 0.776);
		--colorAccentPrimaryMuted: color(display-p3 0.977 0.887 0.648);
		--colorAccentPrimaryDark: color(display-p3 0.165 0.153 0.124);
		
		--colorAccentSecondary: color(display-p3 0 0.822 1);
		--colorAccentSecondaryMuted: color(display-p3 0.512 0.793 0.854);
}
